body {
	background-color: #000000;
	font:bold 25px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; /* 960.gs*/
	color:#494949;
}

#board {margin: 0 auto;}
#board > div { overflow:hidden; } 

.module {
   width: 49%;
}

.left {
    float:left;
}

.right {
    float: right;
}

.full-size {
    width: 100%;
    overflow:hidden;
}

h1 { margin:0; padding:0; font-size:40px; }

meta {
    background-color: #dedede;
    font-size: 20pt;
}

/*############## OLD #################*/
/* ===== Data =====*/

#data {
/*	margin-bottom:40px;*/
}



#tooltip {
	position:absolute;
	display:none;
	padding:2px 5px;
	background-color:#494949;
	color:#fefefe;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}

#schedule {
	width:50%;
	float: right;
	background-color:#494949;
	color:#f3f3f3;
	overflow:hidden;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}

#schedule h1 {
    text-align: center;
    background-color: #000046;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
}
#schedule ul {
	list-style-type:none;
	margin:0;
	padding:4%;
}
#schedule li {
	margin-bottom:5px;
	width:1000px;
}
#schedule em {
	font-style:normal;
	background-color:#000046;
	margin-right:10px;
	display:inline-block;
	width:50px;
	padding:0 10px;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	font-size: 20px;
}
#schedule small {
	font-size:20px;
	color:#bababa;
	font-style:italic;
}

/* ===== visitors ===== */

#sitestats {
	margin-top: 40px;	
	width: 50%;
	float: left;
	background-color: #000000;
	color: #ffffff;
	border-radius:15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	font-size: 19pt;
}

/*#sitestats h1 {
	background-color: #000046;
	width: 100%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
}*/


/* ===== projects ===== */

#projects {
	margin-top: 30px;
}

#projects table {
	width:100%;
	border-spacing:10px;
}
#projects td {
	padding:2px;
	background-color:#494949;
    color: #f3f3f3;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-size: 180%;
}
#projects td:not(:last-child) {
	text-align:center;
}
#projects img {
	vertical-align:middle;
}



